<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.web>

<customErrors mode="Off"/>

    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
   <connectionStrings>
    <add name="con" connectionString="Data Source=SQL6001.myASP.NET;Initial Catalog=DB_A1E617_tunechi;User Id=DB_A1E617_tunechi_admin;Password=Lolster007*;"/>
    <add name="ConnectionString" connectionString="Data Source=SQL6001.myASP.NET;Initial Catalog=DB_A1E617_tunechi;User Id=DB_A1E617_tunechi_admin;Password=Lolster007*;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>










